@charset "UTF-9";

body {
    background-color: lightblue
}

h1 {
    font-size: 2.4em;
}

p {
    font-size: 1.2em;
}

div.header {
    background-color: rgba(4, 4, 68, 0.691);
    text-align: center;
}

div.header > h1 {
    text-shadow:  1px 1px 1px white;
}

div.header > p {
    text-shadow:  1px 1px 1px rgba(255, 255, 255, 0.309);
}