@charset "UTF-8";

/*===========================ID's===========================*/

body{
    font-family: 'montserrat';
    overflow-x: hidden;
}

h1 {
    font-family: 'Montserrat' 'sans-serif';
    color: #cb9850;
    size: 3.5rem;
    line-height: 1;
    font-weight: 700;
}

h2 {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat';
}

p {
    color: #8f8f8f;
}
/*===========================Classes Gerais===========================*/

 /*===========================Header===========================*/
 #title {
    background-image: linear-gradient(to right, #051d35, #093764 );
    padding: 1% 15%;
}

 nav {
    background-image: linear-gradient(to right #051d35 #052e58 );
}

 .navbar {
 padding: 2.5rem 0rem 4.5rem 0rem;
}

.navbar-brand {

    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: 500;
}

.navbar-brand:hover{
    color: rgba(255, 255, 255, 0.778);
    text-shadow: 0.5px 0px 0px white;
}

.logo:hover {
    text-shadow: 1px 1px 1px rgb(243, 243, 255);
}

/*.logoimagem {
    width: 70%;
}
Código caso eu substitua a logo escrita pela imagem.
*/

.navbar-toggler:hover {
    color: rgba(240, 248, 255, 0.923);
}

.menulink {
    color: rgb(226, 221, 221);
    text-decoration: none;
    padding: 18px;
    font-size: 1.2rem;
    font-family: 'Montserrat';
}
.menulink:hover{
    text-shadow: 1px 0px 0px rgba(243, 243, 255, 0.801);
}

.headerbutton {
    margin: 0px 3px 4px 0px;
}

.gatinhocelular {
    width: 53%;
    transform: rotate(25deg);
}
/*===========================Section Features===========================*/

#features {
 padding: 7% 12%;   
 
}

.divfeatures {
    text-align: center;
    padding: 5%;
    
}

.iconefeatures {
    color: #ec9418;
    size: px;
}

.iconefeatures:hover {
    color: rgb(229, 187, 19);
    size: 8px;
}
/*===========================Section Testimonials===========================*/
#testimonials {
    background-image: linear-gradient(to bottom, #051d35, #093764 );
    padding: 7% 15%;
    text-align: center;
    color: #ef9414;
}

#press {
    background-image: linear-gradient(to bottom, #093764, #093764, #093764);
    
    text-align: center;
    padding: 3%;
}

.logopress {
    border-radius: 15%;
}

.logopress2 {
    border-radius: 20%;
    width: 10%;
}
.logopress3 {
    border-radius: 20%;
    width: 10%;
}

.carouselimagem {
    width: 20%;
    border-radius: 50%;
    width: 10%;
    margin: 2%;
}


.carousel-control-next {
    margin-left: 60px; /* Ajuste a margem direita conforme necessário */
}

/*=====================================*/

.cards {
    padding: 7%;
}
.card {
    margin: 1px;
    width: 33%;
}

#pricing {
    background-color: #051d35;
    padding: 10%;
}